{# registerScrollPercent themes\next\source\js\utils.js #}
<div class="back-to-top-cat" role="button">
    <i class="fa fa-arrow-up"></i>
    <span>0%</span>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const backToTopCat = document.querySelector('.back-to-top-cat');
        window.addEventListener('scroll', () => {
            if (backToTopCat) {
                const contentHeight = document.body.scrollHeight - window.innerHeight;
                const scrollPercent = contentHeight > 0
                    ? Math.min(100 * window.scrollY / contentHeight, 100)
                    : 0;
                backToTopCat.classList.toggle('back-to-top-cat-on', Math.round(scrollPercent) >= 5);
            }
        }, {passive: true});
        backToTopCat && backToTopCat.addEventListener('click', () => {
            window.anime({targets: document.scrollingElement, duration: 500, easing: 'linear', scrollTop: 0});
        });
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        if (!document.getElementById('comments')) {
            const newElement = document.createElement('div');
            newElement.id = 'comments';
            newElement.classList = 'animated comments comments-block fadeIn';
            // 在 .post-block 后面插入新元素
            const postBlock = document.querySelector('.post-block');
            postBlock.parentNode.insertBefore(newElement, postBlock.nextSibling);
            // 标题
            const commentsTitleDiv = document.createElement('div');
            commentsTitleDiv.classList = 'comments-block-title';
            commentsTitleDiv.innerHTML='<span class="highlight-container"><span class="highlight">Comments</span></span>';
            newElement.appendChild(commentsTitleDiv);
            // artalk
            const commentsElement = document.createElement('div');
            commentsElement.classList = 'comments-artalk';
            newElement.appendChild(commentsElement);
        }
        Artalk.init({el: '#comments>.comments-artalk', server: 'https://artalk.abyss.moe', site: 'Echo Of Rain'})
    });
</script>