{% if not config.disable_analytics %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1HHZ17CGGG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1HHZ17CGGG');
</script>

<script async defer data-website-id="202e2328-52a9-4056-9f1b-2441bd16039f" src="https://akari.abyss.moe/hotaru.js"></script>
{% endif %}
