{% if not config.disable_analytics %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-M4NL55QV0D"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-M4NL55QV0D');
</script>

<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?3e289c52bc578e6a7a267719afb6a424";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);

        _hmt.push(['_requirePlugin', 'UrlChangeTracker', {
            shouldTrackUrlChange: function (newPath, oldPath) {
                return newPath && oldPath;
            }
        }
        ]);
    })();
</script>
<script async defer data-website-id="585c3c91-a073-4a9a-aac0-e5c3a036aab5" src="https://akari.abyss.moe/umami.js"></script>
{% endif %}