{% if not config.disable_analytics %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-179933256-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-179933256-1');
</script>

<script async defer data-website-id="202e2328-52a9-4056-9f1b-2441bd16039f" src="https://akari.abyss.moe/umami.js"></script>
{% endif %}
