<div class="post-copyright">
    <div class="post-copyright-bg">
        <p><span>时又驱策</span> <span>白驹过隙</span> <span>如故静逝</span></p>
        <p>文章创作时使用了 <span class="license-name">WTFPL</span> License </p>
        <p>二次转载、复制等<span>「一切如你所愿」</span></p>
    </div>
</div>
