<div class="post-copyright">
    <div class="post-copyright-warp">
        <div class="post-copyright-bg"></div>
        <p class="post-copyright-uta">
            <span>时又驱策</span>
            <span>白驹过隙</span>
            <span>如故静逝</span>
        </p>
        <p>
            <span class="post-copyright-highlight">如果没有额外注明</span>，创作默认使用
            <span class="license-name">WTFPL</span>
            License
        </p>
        <p>
            <span class="license-name">WTFPL</span>：「可以转载」「可以商用」「不强制署名」<span></span>
        </p>
    </div>
</div>