@import 'variables';

:root {
  --link-hover-color: $SHION;
}

// TOC
.sidebar {
  // TOC 内容
  .sidebar-nav {
    overflow: visible;

    &.sidebar-panel-container {
      padding-top: 10px;
    }
  }
  // 返回按钮
  .back-to-top.back-to-top-on {
    margin-top: 5px;
  }
}

// 鼠标样式
body, html {
  cursor: url('/images/cursor.png'), auto !important;
}

// 鼠标样式(链接)
a, .back-to-top-cat, .fa-copy, button {
  cursor: url('/images/cursor_link.png'), auto !important;
}

// 侧边栏站标
.site-brand-container {
  background: $SHION;
}

// 文章最大宽度
.main {
  max-width: 1380px;
}

// 友情链接按钮
.friend-link {
  margin-top: 8px;
  border: none;

  button {
    font-size: 1rem;
    color: $SHION;
    text-shadow: 0 1px 1px #bcaace85;
    font-weight: 400;
    padding: 6px;
    border-radius: 6px;
    width: 100%;
    text-align: center;
    display: block;
    border: none;
    transition: all 0.3s ease-out;

    &:hover {
      background-color: rgba($SHION, 0.8);
      color: #fff;
    }

    &:hover span {
      display: none;
    }

    &:hover:before {
      content: '繁星璀璨';
    }

    &:active, &:hover, &:focus {
      outline: unset;
      border: none;
    }
  }
}

// 侧边栏 TOC
.post-toc .nav {
  padding: 0 10px;

  .nav-item:not(.active) {
    display: block;
    padding: 7px;
  }

  .active > a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom-color: #8f77b5;
    color: #fff;
    background: rgba(rgb($SHION), 0.8);
    padding: 5px 3px 3px 10px;
    border-radius: 5px;
  }

  > li ol {
    margin-top: 6px;
  }
}

.posts-collapse .post-content .post-header:hover {
  border-bottom-color: $SHION;
}

a.nav-link {
  border-bottom: none;
}

// 文章样式
.main-inner.post {
  // 选中文本样式
  ::selection {
    color: #fff;
    background-color: $SHION;
  }

  code {
    background-color: #eff6fc;
    font-family: iosevka, microsoft yahei, monospace;
    padding: 0.1em 0.3em;
    margin: 0 0.2em;
    border-bottom: 2px solid #c7e0f4;
  }

  strong {
    background: linear-gradient(transparent 80%, rgba(rgb($SAKURA), 1) 80%);
    padding: 2px 4px;
  }

  // 链接
  p > a {
    background: linear-gradient(transparent 80%, rgba(rgb($SAKURA), 0.8) 80%);
    color: var(--link-color);
    text-decoration: none;
    border-bottom: none;
  }

  p > a:hover {
    background: linear-gradient(transparent 80%, rgba(rgb($SHION), 0.8) 80%);
  }

  // 代码块
  figure.highlight {
    background: $SHION;
    border-radius: 5px;

    .table-container {
      background-color: #fff;
    }

    .copy-btn i {
      color: #fff;
    }

    pre {
      font-size: 0.85em;
    }
  }

  // 标签 Github-Card
  .github-card {
    display: flex;
    border: 1px solid;
    padding: 5px 25px;
    border-radius: 10px;
    margin: 0 0 20px 0;

    .github-card-icon {
      display: flex;
      margin-right: 25px;
    }

    .github-card-icon i {
      font-size: 96px;
      align-self: center;
    }

    .github-card-title {
      font-weight: 600;
      color: #f05f70;
      font-size: 1.15em;
      margin: 5px 0 0 0;
    }

    .github-card-desc {
      text-align: initial;
    }

    .github-card-button {
      margin-bottom: 10px;
      color: #fff;

      button {
        color: #fff;
        cursor: pointer;
        border: none;
        border-radius: 5px;
      }

      a:nth-child(1) > button {
        background-color: $SHION;
        margin-right: 5px;
      }

      a:nth-child(2) > button {
        background-color: #e27784;
        color: #fff;
      }

      a, a:hover, a:active, a:visited {
        color: #fff;
        background: none;
        border: none;
      }

      button:focus, button:active:focus {
        color: #fff;
        outline: none;
      }
    }
  }

  // 引用
  blockquote {
    border: 0;
    background: #e4ebf6;
    color: #667a99;
    border-radius: 4px;
    padding: 8px 15px;
    border-top: 2px dotted #fff;
    border-bottom: 2px dotted #fff;
    margin: 0 0 20px;

    p:nth-child(1) {
      margin-bottom: 0;
    }

    a {
      background: linear-gradient(transparent 85%, #c4b8f5 77%);
    }

    a:hover {
      background: linear-gradient(transparent 85%, #957ff1 77%);
    }
  }

  // 列表
  ol, ul {
    list-style: none;
    counter-reset: li;
    margin: 15px 0;
    padding-inline-start: 25px;

    li:before {
      color: #fff;
    }

    li {
      margin-bottom: 10px;
    }
  }

  ol > li:before {
    margin: 0 0.6em 0 0;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    content: counter(li);
    counter-increment: li;
    text-align: center;
    line-height: 1.6em;
    display: inline-block;
    background: $SHION;
    vertical-align: middle;
    font-size: 1em;
  }

  ul li:before {
    margin: -0.2em 0.5em 0 0.45em;
    width: 0.65em;
    height: 0.65em;
    border: 0.15em solid $SHION;
    border-radius: 1rem;
    background: #fff;
    content: '';
    line-height: 2em;
    display: inline-block;
    vertical-align: middle;
    font-size: 0.85em;
  }

  // 标题
  h2:before {
    top: -4px;
    left: -1rem;
    color: $KOHBAI;
    content: '##';
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 0.85em;
    margin-right: 5px;
  }

  h2:hover {
    color: $SHION;
  }

  h3 {
    font-size: 1.175rem;
  }

  h3:before {
    content: '[';
    margin-right: 5px;
    color: $TSUYUKUSA;
    font-size: 1.125em;
  }

  h3:after {
    content: ']';
    margin-left: 5px;
    color: $TSUYUKUSA;
    font-size: 1.125em;
  }

  // 底部版权
  .post-copyright {
    font-size: 0.875em;
    border-radius: 3px;
    background-color: rgba(rgb($SHION), 0.1);
    padding: 15px 0 15px 15px;
    border-left: 5px solid $KOHBAI;

    .post-copyright-bg {
      height: 100%;
      padding-left: 165px;
      background-image: url('/images/priest.png');
      background-size: contain;
      background-repeat: no-repeat;
      display: flex;
      flex-flow: column;
      justify-content: center;

      @media (min-width: 300px) {
        min-height: 165px;
      }

      span {
        word-break: keep-all;
      }
    }

    .license-name {
      font-weight: bold;
    }

    p {
      margin: 5px;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  // 表格
  table {
    td[colspan] {
      text-align: center;
    }
  }

  .center * {
    text-align: center;
  }
}

// Chrome 滚动条
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: $SHION;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

// 进度条默认颜色
.headband {
  background-color: unset;
}

// 容器边缘圆滑
.sidebar-inner, .header-inner, .site-brand-container, .main-inner > div.post-block, .comments {
  border-radius: 5px;
}

// 首页文章标题过渡
.archive .post-header span:hover {
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(10%, #fb618d), color-stop(40%, #8dc00a), color-stop(70%, #d68fe9));
  background-image: linear-gradient(90deg, #fb618d 10%, #8dc00a 40%, #d68fe9 70%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-animation: textclip 3s linear infinite;
  animation: textclip 3s linear infinite;
}

@keyframes textclip {
  100% {
    background-position: 200% center;
  }
}

// 自定义回到顶部样式
.back-to-top-cat {
  position: fixed;
  right: 20px;
  top: -900px;
  width: 70px;
  height: 900px;
  transition: all 0.5s ease-in-out;
  background: url('/images/scroll.png');
  background-size: 90% 100%;
  background-repeat: no-repeat;
  z-index: 1050;

  > i, > span {
    display: none;
  }

  &.back-to-top-cat-on {
    bottom: unset;
    top: 100vh < (900px + 200px) ? calc(100vh - 900px - 100px) : 0px;

    @media (min-height: 1100px) {
      top: 0;
    }

    @media (max-width: 1100px) {
      display: none;
    }
  }
}

// 文章 Tag
.post-tags {
  margin: 10px 0;

  a {
    border-bottom: none;
  }
}

// 阅读进度条动画
.reading-progress-bar {
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}